{% extends 'blog/base.html' %} {% block content %}
<!-- <h1>New post</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form> -->
<form method="POST" class="post-form">{% csrf_token %}
	<div class="row">
		<div class="col-md-6">
            <p class="section-header">Login Info:</p>
            <p>
                <strong>Username:<span style="color: red;">*</span></strong>
            </p>
            {{ user_form.username }}
            <p class="help-block">
	            {{ user_form.username.errors }}
	        </p>
            <p>
                <strong>New Password:</strong>
            </p>
            <input type="new_password" name="new_password" class="form-control" id="id_new_password" placeholder="Password">
        </div>
        <div class="col-md-6">
            <p class="section-header">User Info:</p>
            <p>
                <strong>Email:<span style="color: red;">*</span></strong>
            </p>
            {{ user_form.email }}
            <p class="help-block">
	            {{ user_form.email.errors }}
	        </p>
            {% if request.user.is_superuser %}
                <p>
                    <strong>Edit:</strong>
                </p>
                {{ user_form.edit_auth }}
            {% endif %}
        </div>
    </div>
    <button class="btn btn-ext">Save</button>
</form>
{% endblock %}